@font-face {
    font-family: 'LemonMilk';
    src: url('LEMONMILK-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

}

@font-face {
    font-family: 'MochaBrown';
    src: url("MochaBrown.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TAN-ENIGMA';
    src: url('TAN-ENIGMA.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: url('bg3-3.webp') no-repeat;
    background-size: cover;
}

#logo {
    height: 150px;
    filter: drop-shadow(0 0 5px #af82d4);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 60px;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
    height: 30px;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header nav ul li {
    list-style: none;
    position: relative;
    margin: 0 30px;
}

header nav ul li a {
    font-family: 'LemonMilk', serif;
    text-decoration: none;
    font-size: 19px;
    display: inline-block;
    color: #6559AB;
    font-weight: 800;
    transition: 0.3s;
}

header nav ul li a:hover {
    font-size: 22px;
    color: #e895b1;
}

header nav ul li a:after {
    content: "";
    position: absolute;
    background-color: #662274;
    height: 6px;
    width: 0;
    left: 0;
    bottom: -10px;
    border-radius: 50px;
    transition: .3s;
}

header nav ul li a:hover:after {
    width: 100%;
}

.intro {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}
.intro img {
    margin-top: 20px;
    margin-bottom: 10px;
    transition: .3s;
    transform: scale(0.8);
}

.intro img:hover {
    transform: scale(0.85);
}

.intro h1 {
    font-family: 'LemonMilk', serif;
    color: #6559AB;
    font-weight: 700;
    font-size: 60px;
    margin-top: 200px;
    letter-spacing: 10px;
}

.product-list {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 250px;
    margin-bottom: 300px;
    margin-top: -350px;
}

.product-list::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #3c094d;
    margin-top: 560px;
    padding-top: 100px;
    z-index: 1;
}

.product-list h2 {
    display: none;
}

.product-list .product>img {
    height: 350px;
    border-radius: 10px;
    filter: drop-shadow(15px 15px 0 #b083d5);
    transition: .3s;
}

.product-list .product>img:hover {
    transform: scale(1.02);
}

.product {
    max-width: 370px;
    max-height: 595px;
    margin: 10px;
    padding: 10px;
    z-index: 2;
}

.product h3 {
    font-family: MochaBrown, serif;
    font-size: 25px;
    font-weight: bold;
    padding-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    letter-spacing: 2px;
    color: #4d438a;
}

.product-rating img {
    height: auto;
    max-width: 100%;
}

.product-rating h4 {
    font-family: "Open Sans", serif;
    font-size: 18px;
    padding-top: 30px;
    font-weight: 200;
}

.product-rating p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #4d438a;
}

footer p {
    background-color: #3c094d;
    text-align: center;
    padding: 10px;
    color: white;
}