@font-face {
    font-family: 'LemonMilk';
    src: url('LEMONMILK-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Letanger';
    src: url('Letanger.ttf') format('truetype');
}

@font-face {
    font-family: 'MochaBrown';
    src: url("MochaBrown.otf") format("opentype");
}
@font-face {
    font-family: 'TAN-ENIGMA';
    src: url('TAN-ENIGMA.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: url('bg1.webp') no-repeat;
    background-size: cover;
}

#logo {
    height: 150px;
    filter: drop-shadow(0 0 5px #e895b1);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 60px;
}
header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header nav ul li {
    list-style: none;
    position: relative;
    margin: 0 60px;
}

header nav ul li a {
    font-family: LemonMilk, serif;
    text-decoration: none;
    font-size: 19px;
    display: inline-block;
    color: #8A484B;
    font-weight: 800;
    transition: .3s;
    padding-bottom: 50px;
    position: relative; /* Add position relative to the links */
}

header nav ul li a:hover {
    font-size: 22px;
    color: #488885;
}

header nav ul li a:after {
    content: "";
    position: absolute;
    background-color: #c6efee;
    height: 6px;
    width: 0;
    left: 0;
    top: 35px;
    border-radius: 50px;
    transition: .3s;
}

header nav ul li a:hover:after {
    width: 100%;
}


.home {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content {
    max-width: 1250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.home-content h1 {
    font-family: LemonMilk, serif;
    font-size: 70px;
    font-weight: 700;
    color: #8A484B;
    margin-right: 945px;
    margin-bottom: -50px;
    white-space: nowrap;
}

.home-content h2 {
    font-family: Kostania-Light, serif;
    font-size: 130px;
    font-weight: 300;
    color: #488986;
    margin-right: 440px;
    margin-bottom: -165px;
    z-index: 3;
    position: relative;
}

.home-content p.intro {
    padding-top: 20px;
    font-weight: 800;
}

.home-content p {
    font-size: 18px;
    text-align: end;
    font-weight: 200;
    color: #4d2e35;
}

.home-content img {
    margin-top: -160px;
    margin-right: 50px;
    position: relative;
    z-index: 1;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #c7f1ef;
    color: #8b4b4e;
    text-align: center;
    padding: 8px;
}
